
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (min-device-height: 800px)
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {


/**************************************************************************************************/
/*************************************MENU*********************************************************/
/**************************************************************************************************/

    .img-usher {        
        height: 165px;          
        margin-left: -25px;    
        margin-top: -33px;
    }
    .navbar-usher{

        min-height:120px!important;
        margin-bottom:120px!important;
        
    }

    .img-usher-menu {
        width: 64.8px;        
        height: 65px;
    }
    .nav-usher{
        margin-bottom:-7px;
    }
    .nav-usher>li>a {
      position: relative;
      display: block;
      padding: 10px 6px!important;
    }
    .menu-label{
        background-color: rgb(41,40,41);
        color:white;
        width: 75px;
        margin-top: 2px;
        font-size: 6.5pt;
        line-height: 13px;
        text-rendering: auto;        
		margin-left:8px;   
    }

    .menu-label-white{
        background-color:white;
        color:white;
        height: 32px;
        width: 5px;
    }
    .menu-label-black{
        background-color: rgb(41,40,41);
        color:rgb(41,40,41);
        width:29px;
        margin-top:2px;
        font-size:6pt;
        line-height:15px;        
    }
    .strategic-style{

    }
    .insight-style{

    }
    .brand-style{

    }
    .marketing-style{
          font-size: 6.5pt;
         padding-left: 6px;
    }
    .relation-style{
          font-size: 6.5pt;
        padding-left: 7px;
    }
    .comm-style{
          font-size: 6.5pt;
     padding-left: 6.1px;
    }
    .retail-style {
        margin-right: -5px;
    }
    .contact-style img {
        margin-top: 1px;
        margin-left: 5px;
    }
    .comm-style{
         margin-right:-3px;
    }
    .relation-style{
         
    }
    .marketing-style{
        margin-left: 0px;
    }
    .red-square{
      
      height: 32px;
	  width: 32px;
    }
    
    .menu-bar{

        background-color: rgb(41,40,41);
    height: 32px;
    display: flex;
    float: right;
    width: 55.15%;
    margin-right: 0.4%;
    }


/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/

    .main section.page1 .page_container h1 {
        font-weight: 700;
        text-align: left;
    }

    .main section.page1 .page_container p{
  
  font-size: 12pt;
  font-weight: 400;
  color: rgb(41,40,41);
  text-align:justify;
}

    .number {
        font-weight: 700;
        font-size: 115pt;
    }
    .number-strategic {
        font-weight: 100;
        font-size: 230pt;
        margin-top:30px;
    }
    .strategic-number-pull {
        margin-top: -21%;
    }


    #about h1 {
        font-size: 30pt;
        letter-spacing: 9px;
    }
    #brand h1 {
        letter-spacing: 0px;
    }

    .red-divider {
        background-clip: content-box;
        background-color: rgb(217,56,50);
    }

    #about .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
    }

    #strategic .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
        padding-bottom: 433px;
        margin-top: 2%;
    }
    #insight .red-divider {
        padding-left: 125px !important;
        padding-right: 1px !important;
        background-color: rgb(217,56,50);
        margin-top: 2%;
        margin-left: 60px;
    }
    #management .red-divider {
        padding-left: 125px !important;
        padding-right: 1px !important;
        padding-bottom: 13px;
        margin-top: 2%;
        margin-left: 20px;
    }
    #relation .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
        padding-bottom: 455px;
    }

    .comm1 {
        margin-left: -65px;
        padding-left: 45px !important;
        padding-right: 1px !important;
    }
    .comm2 {
        margin-left: 75px;
        padding-left: 120px !important;
        padding-right: 10px !important;
    }
    #retail .red-divider {
        padding-left: 97px !important;
        padding-right: 30px !important;
        margin-top: 8%;
    }


    #about .img-resolution {
        height: 500px;
    }

    .marketing-image-2 {        
        height: 220px;
    }      
    
    .insight-left {
        margin-left: -16vw !important;
    }
        
   
    .img-resolution-insight {
        height:500px;
          margin-top: 0.5vh;
    }       
  
/************************strategic************************/
    
     
        .strategic-rightside{
            display:flex;
            display:inline-flexbox;
            margin-top:-33px;
        }
        .strategic-largeNumber-pull {
          margin-top: 0px; 
        }
    .img-strategic {
        height: 500px;
    }

        .main section.page1 .page_container h1 {
            letter-spacing: 7px;
            font-weight: 700;
            font-size: 22pt;
            text-align: left;
        }

    .img-strategic-reddots {
        height: 150px;
    }
    .img-strategic-reddots-pull{
        margin-top:-67%;
    }
               
        .text-brand{
            margin-top:-65px;
        }

/*******************INSIGHT***************************/

.insight-number {
        text-align: left;
        margin-left: -75px;
        vertical-align: top;
        margin-top: -90px;
        margin-bottom: -95px;
    }
    .insight-number .number {
        font-weight: 100;
        font-size: 160pt;
    }

/******************************BRAND***************************/

    .img-brand {
        height: 535px;
    }
    .img-brandlines {
        height: 62px;
        width: 270px;
    }
    .number-brand{
        font-size:90pt;
        margin-top:-60px;
    }
    .img-brand2 {
        height: 535px;
    }
    .text-brand{
        margin-top:-65px;
    }

/*************RELATIONSHIP********************/

    .relation-largeNumber-pull {
        margin-top:150px;
    }
    #relation-letter-spacing{
        letter-spacing:0px;
    }
   .number-relation{
       font-size: 170pt;
   }
   .number-relation{
       font-size: 170pt;
   }

    /***************COMMUNICATION**********************/

    #comm-letter-spacing{
        letter-spacing:0px;
        font-size: 30pt
    }
    
    .number-comm {
        font-weight: 700;
        font-size: 135pt;
        text-align: left;
        margin-top: -42px;
        margin-left: -52px;
    }
    .comm-left{
        margin-left: -230px;
        margin-top: -60px;
    }
    
    #comm-font{
       margin-top:10px;
    }   

/******************RETAIL************************/

    #retail h1{
        font-size: 30pt;
    }    
    .number-retail{
        font-size: 130pt;
    }

    .pic2-retail {
        height: 170px;
        margin-top: 55px;
    }
    .img-retail {              
        height: 500px;
    }

    .small-push-left{
        left: 0px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

   
/**************************************************************************************************/
/*************************************MENU*********************************************************/
/**************************************************************************************************/

    .img-usher {        
        height: 165px;          
        margin-left: -25px;    
        margin-top: -33px;
    }
    .navbar-usher{

        min-height:120px!important;
        margin-bottom:120px!important;
        
    }

    .img-usher-menu {
        width: 64.8px;        
        height: 65px;
    }
    .nav-usher{
        margin-bottom:-7px;
    }
    .nav-usher>li>a {
      position: relative;
      display: block;
      padding: 10px 1px;
    }
    .menu-label{
        background-color: rgb(41,40,41);
        color:white;
        width: 65.2px;
        margin-top: 2px;
        font-size: 5.7pt;
        line-height: 13px;
        text-rendering: auto;        
    }

    .menu-label-white{
        background-color:white;
        color:white;
        height: 32px;
        width: 5px;
    }
    .menu-label-black{
        background-color: rgb(41,40,41);
        color:rgb(41,40,41);
        width:30px;
        margin-top:2px;
        font-size:6pt;
        line-height:15px;        
    }
    .strategic-style{

    }
    .insight-style{

    }
    .brand-style{

    }
    .marketing-style{
          font-size: 6pt;
         padding-left: 6px;
    }
    .relation-style{
          font-size: 5.7pt;
        padding-left: 7px;
    }
    .comm-style{
          font-size: 5pt;
     padding-left: 6.1px;
    }
    .retail-style {
        margin-left: 4px;
    }
    .contact-style img {
        margin-top: 1px;
        margin-left: 5px;
    }
    .comm-style{
         margin-left: 4px;
    }
    .relation-style{
         margin-left: 4px;
    }
    .marketing-style{
        margin-left: 0px;
    }
    .red-square{
      
      height: 32px;
    }
    
    .menu-bar{

    background-color: rgb(41,40,41);   
    height: 32px;
    display: flex;
    float:right;
    }


/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/

    .main section.page1 .page_container h1 {
        font-weight: 700;
        text-align: left;
    }
    .main section.page1 .page_container p {
        font-size: 13pt;
        font-weight: 400;
        color: rgb(41,40,41);
        text-align: justify;
    }

    .number {
        font-weight: 700;
        font-size: 115pt;
    }
    .number-strategic {
        font-weight: 100;
        font-size: 230pt;
        margin-top:30px;
    }
    .strategic-number-pull {
        margin-top: -21%;
    }
    #strategic-font{
        font-size:12pt;
    }


    #about h1 {
        font-size: 30pt;
        letter-spacing: 9px;
    }
    #brand h1 {
        letter-spacing: 0px;
    }
    #brand-font{
        font-size:12pt;
    }

    .red-divider {
        background-clip: content-box;
        background-color: rgb(217,56,50);
    }

    #about .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
    }

    #strategic .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
        padding-bottom: 315px;
        margin-top: 4%;
    }
    #insight .red-divider {
        padding-left: 125px !important;
        padding-right: 1px !important;
        background-color: rgb(217,56,50);
        margin-top: 2%;
        margin-left: 60px;
    }
    #management .red-divider {
        padding-left: 125px !important;
        padding-right: 1px !important;
        padding-bottom: 13px;
        margin-top: 2%;
        margin-left: 20px;
    }
    #relation .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
        padding-bottom: 466px;
    }

    .comm1 {
        margin-left: -65px;
        padding-left: 45px !important;
        padding-right: 1px !important;
    }
    .comm2 {
        margin-left: 75px;
        padding-left: 120px !important;
        padding-right: 10px !important;
    }
    #retail .red-divider {
        padding-left: 97px !important;
        padding-right: 30px !important;
        margin-top: 8%;
    }


    #about .img-resolution {
        height: 500px;
    }

    .marketing-image-2 {        
        height: 220px;
    }      
    
    .insight-left {
        margin-left: -16vw !important;
    }
        
   
    .img-resolution-insight {
        height:500px;          
    }       
  
/************************strategic************************/
    
     
        .strategic-rightside{
            display:flex;
            display:inline-flexbox;
            margin-top:-33px;
        }
        .strategic-largeNumber-pull {
          margin-top: 0px; 
        }
    .img-strategic {
        height: 500px;
    }

        .main section.page1 .page_container h1 {
            letter-spacing: 9px;
            font-weight: 700;
            font-size: 13pt;
            text-align: left;
        }

        
.img-strategic-reddots{
      height: 150px;      
}
.img-strategic-reddots-pull{
    margin-top:-67%;
}

 
    .img-brandlines {
        height: 9vw;
        width: 21vw;
    }
    .number-brand{
        font-size:13vw;
        margin-top:-60px;
    }
    .text-brand{
        margin-top:-65px;
    }

    .marketing-image-2{
        height:33vh;
    }


/*******************INSIGHT***************************/

.insight-number {
        text-align: left;
        margin-left: -75px;
        vertical-align: top;
        margin-top: -90px;
        margin-bottom: -95px;
    }
    .insight-number .number {
        font-weight: 100;
        font-size: 160pt;
    }

/******************************BRAND***************************/

    .img-brand {
        height: 535px;
    }
    .img-brandlines {
        height: 62px;
        width: 270px;
    }
    .number-brand{
        font-size:90pt;
        margin-top:-60px;
    }
    .img-brand2 {
        height: 535px;
    }
    .text-brand{
        margin-top:-65px;
    }

/*************RELATIONSHIP********************/

    .relation-largeNumber-pull {
        margin-top:150px;
    }
    #relation-letter-spacing{
        letter-spacing:0px;
    }
    #relation-font{
        font-size: 12pt;
    }
	.number-relation{
       font-size: 170pt;
   }
   

    /***************COMMUNICATION**********************/

    #comm-letter-spacing{
        letter-spacing:0px;
        font-size: 30pt
    }
    
    .number-comm {
        font-weight: 700;
        font-size: 135pt;
        text-align: left;
        margin-top: -42px;
        margin-left: -52px;
    }
    .comm-left{
        margin-left: -230px;
        margin-top: -60px;
    }
    
    #comm-font{
       margin-top:10px;
    }   

/******************RETAIL************************/

    #retail h1{
        font-size: 30pt;
    }    
    .number-retail{
        font-size: 130pt;
    }

    .pic2-retail {
        height: 170px;
        margin-top: 55px;
    }
    .img-retail {              
        height: 500px;
    }
}


@media (height: 1600px)
    and (width: 2560px){ 

   
/**************************************************************************************************/
/*************************************MENU*********************************************************/
/**************************************************************************************************/

    .img-usher {        
        height: 165px;          
        margin-left: -25px;    
        margin-top: -33px;
    }
    .navbar-usher{

        min-height:120px!important;
        margin-bottom:120px!important;
        
    }

    .img-usher-menu {
        width: 64.8px;        
        height: 65px;
    }
    .nav-usher{
        margin-bottom:-7px;
    }
    .nav-usher>li>a {
      position: relative;
      display: block;
      padding: 10px 1px;
    }
    .menu-label{
        background-color: rgb(41,40,41);
        color:white;
        width: 65.2px;
        margin-top: 2px;
        font-size: 5.7pt;
        line-height: 13px;
        text-rendering: auto;        
    }

    .menu-label-white{
        background-color:white;
        color:white;
        height: 32px;
        width: 5px;
    }
    .menu-label-black{
        background-color: rgb(41,40,41);
        color:rgb(41,40,41);
        width:2.3vw;
        margin-top:2px;
        font-size:6pt;
        line-height:15px;        
    }
    .strategic-style{

    }
    .insight-style{

    }
    .brand-style{

    }
    .marketing-style{
          font-size: 6pt;
         padding-left: 6px;
    }
    .relation-style{
          font-size: 5.7pt;
        padding-left: 7px;
    }
    .comm-style{
          font-size: 5pt;
     padding-left: 6.1px;
    }
    .retail-style {
        margin-left: 4px;
    }
    .contact-style img {
        margin-top: 1px;
        margin-left: 5px;
    }
    .comm-style{
         margin-left: 4px;
    }
    .relation-style{
         margin-left: 4px;
    }
    .marketing-style{
        margin-left: 0px;
    }
    .red-square{
      
      height: 32px;
    }
    
    .menu-bar{

    background-color: rgb(41,40,41);   
    height: 32px;
    display: flex;
    float:right;
    }


/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/

    .main section.page1 .page_container h1 {
        font-weight: 700;
        text-align: left;
    }


    .number {
        font-weight: 700;
        font-size: 115pt;
    }
    .number-strategic {
        font-weight: 100;
        font-size: 230pt;
        margin-top:30px;
    }
    .strategic-number-pull {
        margin-top: -21%;
    }


    #about h1 {
        font-size: 30pt;
        letter-spacing: 9px;
    }
    #brand h1 {
        letter-spacing: 0px;
    }

    .red-divider {
        background-clip: content-box;
        background-color: rgb(217,56,50);
    }

    #about .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
    }

    #strategic .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
        padding-bottom: 315px;
        margin-top: 4%;
    }
    #insight .red-divider {
        padding-left: 125px !important;
        padding-right: 1px !important;
        background-color: rgb(217,56,50);
        margin-top: 2%;
        margin-left: 60px;
    }
    #management .red-divider {
        padding-left: 125px !important;
        padding-right: 1px !important;
        padding-bottom: 13px;
        margin-top: 2%;
        margin-left: 20px;
    }
    #relation .red-divider {
        padding-left: 45px !important;
        padding-right: 1px !important;
        padding-bottom: 466px;
    }

    .comm1 {
        margin-left: -65px;
        padding-left: 45px !important;
        padding-right: 1px !important;
    }
    .comm2 {
        margin-left: 75px;
        padding-left: 120px !important;
        padding-right: 10px !important;
    }
    #retail .red-divider {
        padding-left: 97px !important;
        padding-right: 30px !important;
        margin-top: 8%;
    }


    #about .img-resolution {
        height: 500px;
    }

    .marketing-image-2 {        
        height: 220px;
    }      
    
    .insight-left {
        margin-left: -16% !important;
    }
        
   
    .img-resolution-insight {
        height:500px;          
    }       
  
/************************strategic************************/
    
     
        .strategic-rightside{
            display:flex;
            display:inline-flexbox;
            margin-top:-33px;
        }
        .strategic-largeNumber-pull {
          margin-top: 0px; 
        }
    .img-strategic {
        height: 500px;
    }

        .main section.page1 .page_container h1 {
            letter-spacing: 9px;
            font-weight: 700;
            font-size: 13pt;
            text-align: left;
        }

        
.img-strategic-reddots{
      height: 150px;      
}
.img-strategic-reddots-pull{
    margin-top:-67%;
}

 
    .img-brandlines {
        height: 9vw;
        width: 21vw;
    }
    .number-brand{
        font-size:13vw;
        margin-top:-60px;
    }
    .text-brand{
        margin-top:-65px;
    }

    .marketing-image-2{
        height:33vh;
    }


/*******************INSIGHT***************************/

.insight-number {
        text-align: left;
        margin-left: -75px;
        vertical-align: top;
        margin-top: -90px;
        margin-bottom: -95px;
    }
    .insight-number .number {
        font-weight: 100;
        font-size: 160pt;
    }

/******************************BRAND***************************/

    .img-brand {
        height: 535px;
    }
    .img-brandlines {
        height: 62px;
        width: 270px;
    }
    .number-brand{
        font-size:90pt;
        margin-top:-60px;
    }
    .img-brand2 {
        height: 535px;
    }
    .text-brand{
        margin-top:-65px;
    }

/*************RELATIONSHIP********************/

    .relation-largeNumber-pull {
        margin-top:150px;
    }
    #relation-letter-spacing{
        letter-spacing:0px;
    }
    #relation-font{
        font-size: 12pt;
    }
	.number-relation{
       font-size: 170pt;
   }
	
   

    /***************COMMUNICATION**********************/

    #comm-letter-spacing{
        letter-spacing:0px;
        font-size: 30pt
    }
    
    .number-comm {
        font-weight: 700;
        font-size: 135pt;
        text-align: left;
        margin-top: -42px;
        margin-left: -52px;
    }
    .comm-left{
        margin-left: -230px;
        margin-top: -60px;
    }
    
    #comm-font{
       margin-top:10px;
    }   

/******************RETAIL************************/

    #retail h1{
        font-size: 30pt;
    }    
    .number-retail{
        font-size: 130pt;
    }

    .pic2-retail {
        height: 170px;
        margin-top: 55px;
    }
    .img-retail {              
        height: 500px;
    }
}
