.main section.page1 .page_container {
 
}

.main section.page1 .page_container p{
  
  font-size: 12pt;
  font-weight: 400;
  color: rgb(41,40,41);
  text-align:justify;
}


body .header h1 {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

body .nav-top span.right a {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

body.viewing-page-2 .header h1, body.viewing-page-2 .nav-top span.right a {
  color: rgb(41,40,41);
}



